<div class="col-md-12">
  <div class="card mb-12 shadow-sm">
    <h1 class="text-center"><%= @item.item %></h1>
    <h5 class="text-center"><%= @item.dimension_w %> x <%= @item.dimension_l %> x <%= @item.dimension_h %></h5>
    <% begin %>
      <%= image_tag(@item.img_file) %>
    <% rescue %>
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= @item.description %></p>
      <div class="d-flex justify-content-between align-@items-center">
        <div class="btn-group">
          <%= link_to 'Back', items_path %>
        </div>
        <span class="text-body">
          Quantity: <%= @item.quantity %>
        </span> 
        <% if @item.condition == 'good'%>
          <span class="text-success">
            <small class="text-muted">
              $<%= @item.price %>
            </small> 
            $<%= (0.9 *item.price.to_i).to_i  %>
          </span>
        <% elsif @item.condition == 'average'%>
          <span class="text-warning"> 
            <small class="text-muted">
              $<%= @item.price %>
            </small> 
            $<%= (0.8 *item.price.to_i).to_i %>
          </span> 
        <% else %>
          <span class="text-primary">
            $<%= @item.price %>
          </span>                                            
        <% end %>
      </div>
    </div>
  </div>
</div>
            

